
{% macro notification(message) -%}

    


{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="flash-messages">
        {% for message in messages %}
            <div class="flash-message">
                <p>{{ message }}</p>
                <button class="close-button" onclick="closeFlashMessage(this)">&times;</button>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<script>
function closeFlashMessage(button) {
    var flashMessage = button.parentNode;
    flashMessage.style.display = 'none';
}
</script>




{%- endmacro %}