{% macro product_card(product, category, current_user) %}
<div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-4">
    <div class="card" style="width: 14rem;">
        <div class="product-image">
            <img src="{{ url_for('static', filename='uploads/product_images/' ~ product.photo) }}" class="card-img-top"
                alt="{{ product.name }}">
        </div>


        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Price: {{ product.price }}</p>
            <p class="card-text">Quantity: {{ product.quantity }} {{ product.quantity_unit }}</p>
            <a href="#collapse_{{ product.id }}" class="" data-bs-toggle="collapse"><i
                    class="fa-solid fa-arrow-down"></i></a>
            <div id="collapse_{{ product.id }}" class="collapse">
                <p class="card-text">Mfg. Date: {{ product.manufacturing_date }}</p>
                <p class="card-text">Exp. Date: {{ product.expiry_date }}</p>

                <p class="card-text">Product in Stock: {{ product.number }}</p>
            </div>
        </div>
        <div class="card-footer">
            {% if current_user.is_admin %}
            <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn btn-outline-success"><i
                    class="fas fa-edit"></i></a>
            <form action="{{ url_for('delete_product', product_id=product.id) }}" method="POST"
                style="display: inline;">
                <button type="submit" class="btn btn-outline-success"><i class="fas fa-trash"></i></button>
            </form>
            {% else %}
            {% if product in current_user.cart.products %}
            <form action="{{ url_for('remove_from_cart', product_id=product.id) }}" method="post">
                <button class="btn btn-outline-danger" type="submit">Remove from Cart</button>
            </form>
            {% else %}
            {% if product.number == 0 %}
            <button class="btn btn-outline-disabled">Out Of Stock</button>
            {% else %}
            <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
                <button class="btn btn-outline-success" type="submit">Add to Cart</button>
            </form>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}




{% macro cart_product_card(product,category,current_user) %}
<div class="card mt-4">
    <div class="row g-0">
        <div class="col-sm-12 col-md-4 order-md-1 order-2">
            <div class="product-image">
                <img src="{{ url_for('static', filename='uploads/product_images/' ~ product.photo) }}"
                    class="card-img-top" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-sm-12 col-md-8 order-md-2 order-1">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: {{ product.price }}</p>
                    <p class="card-text">Quantity: {{ product.quantity }} {{product.quantity_unit}}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="card-text">Manufacturing Date: {{ product.manufacturing_date.strftime('%Y-%m-%d') }}</p>
                    <p class="card-text">Expiry Date: {{ product.expiry_date.strftime('%Y-%m-%d') }}</p>
                </div>

                <form action="{{ url_for('remove_from_cart', product_id=product.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Remove from Cart</button>
                </form>

            </div>
        </div>
    </div>
</div>





{% endmacro %}