#myNavbar {
    /* background-color:  #fdf9f6; */
    background-color:#f1f6ec;
    border-bottom: 1.5px solid #03480344;
}



.nav-link-big {
    font-size: 15px;
    transition: color 0.10s;
    /* color: #5d3914; */
    color:#002D62;
    /* color: rgb(4, 134, 240); */
}

.nav-link-big:hover {
    color: #C4D7B2;
}
.nav-item:hover{
    /* background-color: #ddd2c8; */
    background-color: #C4D7B2;
    border-radius: 4px;
    transition: border 0.3;
    transition: background-color 0.3s;
}
.nav-item-cart{
    background-color: #EA6969;
    padding: 0px 5px;
    font-size:17px ;
    border-radius: 5px;
    color: white;
}

.nav-item-cart:hover{
    background-color: #FA6969;
}

#myCarousel {
    margin: 0 auto;
    width: 100%;
    height: 50vh;
}

#myCarousel .carousel-inner .carousel-item img {
    object-fit:cover;
    width: 100%;
    height: 50vh;
}

.bg-image {
    background-image: url('/static/images/bg-image.png');
   
}

.product-image {
    width: 220px; /* Adjust the width as per your requirement */
    height: 150px; /* Adjust the height as per your requirement */
    /* object-fit: cover;  */
    overflow: hidden;
    border-radius: 5px;
    border-bottom: #7EAA9299 solid 0.5px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-img-top{
    border: #7EAA9299 solid ;
    border-width:  0.5px;
    border-radius: 5px;
}

.flash-messages {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flash-message {
    position: fixed;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #FFD9B7;
    position: fixed;
}

.close-button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 3px;
}


.category-btn-group {
    background: #FAFFF9;
    overflow-y: scroll;
    border-bottom: rgba(0, 0,0,0.2) 1px solid;
    border-radius: 0px;
    padding-bottom: 5px;
}

.category-btn-group::-webkit-scrollbar {
    display: none;
  }

/* Style for the buttons */
.category-btn-group .btn {
    display: inline-block;
    padding: 8px 8px;
    font-size: 15px;
    color: #17594A;
    
    border: none;
    border-bottom: 2px solid #7EAA92;

    margin-right: 10px;
    background: transparent;
    white-space: nowrap;
    border-radius: 5px;
}

/* Style for the active button */
.category-btn-group .btn.active-category {
    background-color: #FFD9B7;
    color: #222;
    border-bottom: 2px solid #444;
    transition: background-color 0.5s, border 0.5, color 0.5;
}

/* Optional: Add hover effect for buttons */
.category-btn-group .btn:hover {
    background-color: #E1ECC8;
    transition: background-color 0.5s, border 0.5;
}


.card-profile{
    background-color:#FFD9B7;
    padding: 8px;
    border: 1px solid #EA6969 ;
    border-radius: 5px;
}