{% extends "base.html" %}

{% block content %}
{% from 'macros/product.html' import product_card %}




<div class="container mt-5">
    <div class="row">
       
        <div class="col-12 d-flex overflow-auto">
            <br>
            <div class="btn-group btn-group-sm category-btn-group" role="group" aria-label="Categories">
                <button type="button" class="btn btn-light category-btn active-category" data-category="all">All Products</button>
                {% for category in categories %}
                <button type="button" class="btn btn-light category-btn" data-category="{{ category.id }}">{{ category.name }}</button>
                {% endfor %}
            </div>
        </div>
        
        
    </div>
</div>

<div class="container mt-5">
    {% for category in categories %}
    <div class="mb-4">
        <!-- <h2 class="text-center">{{ category.name }}</h2> -->
        <div class="row category-products" id="category-{{ category.id }}">
            {% if category.id == 'all' %}
            {% for product in all_products %}
            <div class="col-lg-2 col-md-4 col-6 mb-4 mr-1 ml-1">
                {{ product_card(product, current_user) }}
            </div>
            {% endfor %}
            {% endif %}
            {% if products_dict[category.id] %}
            <h2 class="">{{ category.name }}</h2>
            
            {% for product in products_dict[category.id] %}
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                {{ product_card(product, category, current_user) }}
            </div>
            {% else %}
            <p>No products found for this category.</p>
            {% endfor %}
            
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".category-btn").click(function () {
            const categoryId = $(this).data("category");
            $(".category-products").hide();

            $(".category-btn").removeClass("active-category"); // Remove active class from all buttons
            $(this).addClass("active-category"); // Add active class to clicked button

            if (categoryId === "all") {
                $(".category-products").show();
            } else {
                $(`#category-${categoryId}`).show();
            }
        });
    });
</script>


{% endblock %}