

{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-image">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-8">
            <div class="container mt-5">
                <div class="profile bg-light">
                    <h5>Name : {{current_user.username}}</h5>
                    <h5>Email :{{current_user.email}}</h5>
                </div>
                <h5 class="mt-4 mb-4">My Orders </h5>
                {% if orders %}
                {% for order in orders %}
                <div class="card mb-3">
                    <div class="card-header">
                        Order ID: {{ order.id }}
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for product in order.products %}
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">Price: {{ product.price }}</p>
                                <p class="card-text">Quantity: {{ product.quantity }} {{product.quantity_unit}}</p>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        Total Price: {{ order.total_price }}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="text-center mt-4">Your have not ordered yet.</p>
                <div>
                    <a href="{{ url_for('dashboard') }}" class="btn btn-outline-success">Continue Shopping</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}