{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Most Purchased Products</h3>
                    
                </div>
                <div class="card-body">
                    {% if most_purchased_products %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Category Name</th>
                                <th>Product Name</th>
                                
                                <th>Total Purchases</th>
                                <th>Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for product, total_purchases in most_purchased_products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{product.category.name}}</td>
                                <td>{{ product.name }}</td>
                                
                                <td>{{ total_purchases }}</td>
                                <td>
                                    <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn btn-outline-success btn-sm"><i class="fas fa-edit"></i> </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No purchases yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0 text-center">Out of Stock Products</h3>
                </div>
                <div class="card-body">
                    {% if out_of_stock_products %}
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Category Name</th>
                                <th>Product Name</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in out_of_stock_products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.name }}</td>
                                <td>
                                    <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn btn-outline-success btn-sm"><i class="fas fa-edit"></i> </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No out of stock products.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0 text-center">Expired Products</h3>
            </div>
            <div class="card-body">
                {% if expired_products %}
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Category Name</th>
                            <th>Product Name</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in expired_products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.name }}</td>
                            <td>
                                <a href="{{ url_for('delete_product', product_id=product.id) }}" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i> </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No expired products.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>
{% endblock %}